<h1>Parameters</h1>


<div class="mypanel-button-group">
    <span>
        <button class="btn btn-sm" [ngClass]="{'btn-selected': entry.title === selected}" style="margin-left: 10px"
                *ngFor="let entry of propsArray"
                (click)="select(entry.title)">
            {{entry.title}}
        </button>
    </span>
</div>

<div *ngFor="let entry of propsArray">
    <div *ngIf="entry.title === selected">

        <div class="panel" >
            <table class="table table-striped">
                <tr *ngFor="let kvp of entry.values">
                    <td *ngIf="kvp.key !== 'title'">
                        <label>{{unCamel(kvp.key)}}</label>
                    </td>
                    <td *ngIf="kvp.key !== 'title'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td *ngIf="kvp.key !== 'title'">
                        <input [(ngModel)]="kvp.value">
                    </td>
                </tr>

            </table>
        </div>
        <button class="btn btn-sm btn-success" (click)="save()">Save</button>
    </div>
</div>


<!-- Doesn't work. Getting some error in primeng component code
<p-tabView>
    <p-tabPanel [header]="entry.title" *ngFor="let entry of propsArray">{{entry.title}}</p-tabPanel>
</p-tabView>
-->