<div class="padding10">
    <span>
    <div style="font-size: 4em">utsukushii <img src="assets/utsukushii.png"></div>
    </span>
    <span>
        <nav>
            <a routerLink="/logreport" routerLinkActive="active">Logs</a>
            <a routerLink="/props" routerLinkActive="active">Params</a>
            <a routerLink="/replay" routerLinkActive="active">Replay</a>
            <a routerLink="/usage" routerLinkActive="active">Usage</a>
        </nav>
    </span>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>